.btn {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    background-color: #ededed;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3);
    transition: 0.2s;
    color: #262626;
}

.btn_icon {
    padding: 0.8rem 0.5rem 0.8rem 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn_text {
    padding: 0.8rem 1rem 0.8rem 0.5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn_text span {
    font-weight: 300;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:active{
    box-shadow: none;
}