.btn_round {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: #ededed;
    outline: none;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.3);
    transition: 0.2s;
    color: #262626;
}

.btn_round span {
    font-weight: 300;
}

.btn_round:hover{
    filter: brightness(90%);
}

.btn_round:active{
    box-shadow: none;
}