.card {
    position: relative;
    width: 18rem;
    margin: 20px;
    border-radius: 4px;
    background-color: #ededed;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .3);
}

.card .card_img {
    width: inherit;
    height: 14.37rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.card .card_img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center center;
}

.card .card_body {
    padding: 12px 20px;
    overflow: hidden;
}

.card .card_title,
.card .card_text {
    color: #262626;
}

.card .card_title {
    padding: 12px 0px;
    font-size: 1.6rem;
}

.card .card_text {
    text-indent: 0.8rem;
    padding-bottom: 1rem;
}